<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pizza4netflix&chill</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
  <script src="app.js"></script>

</head>
<body ng-app="spicyApp1">
<marquee><h1>PIZZA AND CHILL</h1></marquee>
	<img src="Pepperoni_Lovers_Pizza.png"/>
	<div ng-controller="SpicyController">
		<div ng-show="newPizza.length <= 0">
			<button ng-click="getPizza()">New Pizza</button>
		</div>
		<div ng-show="newPizza.length > 0">

			<p ng-repeat="i in newPizza">Pizza med {{i.toppings.join(', ')}}</p>
			<p>
			<label for="textEdit">Pizza name:</label>
			<input id="textEdit" type="text" ng-model="pizzaName"/>
			</p>
			<img src="/tinderNo.png" ng-click="getPizza()"/>
			<img src="/tinderYes.png" ng-click="storePizza(pizzaName)"/>
		</div>
		
		<hr>
		
		<div ng-repeat="pizza in konwnPizzas">
			<strong>{{ pizza.name }}</strong>
			<button ng-click="orderPizza($index)">Order</button>
			<ul>
				<li ng-repeat="i in pizza.toppings track by $index">{{ i }}</li>
			<ul>
		</div>
	</div>
</body>
</html>